* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #f0f0f0;
}

section {
    width: 80%;
    border-radius: 5%;
}

div {
    border-radius: 8px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

div > h3{
    /* background-color: #fff; */
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about {
    background-color: #fff;
    padding-bottom: 2rem;
}

.about > p{
    font-weight: 400;
}

.education{
    background-color: #b7c2ff;
}

.education > p {
    width: 80%;
    font-size: small;
    font-weight: 400;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

.skills{
    background-color: #fff6d5;
    text-transform: uppercase;
}

.skills > h4 {
    width: 50%;
    font-size: small;
    font-weight: 700;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

.projects{
    background-color: #cfbeff;
}

.projects > h4 {
    font-style: oblique;
    width: 60%;
    font-size: small;
    font-weight: 400;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

.contact{
    background-color: #ceffce;
}

.contact > h4 {
    font-style: oblique;
    width: 40%;
    font-size: small;
    font-weight: 400;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}


header{
    padding: 2rem 0;
    gap: 8px;
}


header , footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0f0540;
    color: #fff;
}

header > h2{
    font-size: medium;
    font-style: italic;
    font-weight: 100;
}

footer a {
    text-decoration: none;
    color: white;
}

footer span{
    font-style: oblique;
    cursor: pointer;
}

footer{
    padding: 1.5rem 0;
}