@font-face {
    font-family: custom-font;
    src: url(./Melt-Swashes.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: custom-font;
}

h1{
    font-size: 100px;
    color: #fff;
}

button{
    font-size: large;
    height: 7%;
    width: 15%;
    border-radius: 5px;
    font-family: custom-font;
    background-color: #FD0807;
    color: #C3CBDE;
}